<div class="text-center mt-5">
    <h1>Bienvenido a tu Colección de Videojuegos</h1>
    <p class="lead">Ten un orden en tu sesión de gaming y no te olvides de ningún juego.</p>
    <a href="/login" class="btn btn-primary btn-lg">Acceder a mi colección</a>
</div>